<%= form_with model: @customer, local: true do |form| %>
  <% if @customer.errors.any? %>
    <div id = "error_explanation">
      <h3>
        <%= pluralize(@customer.errors.count, "error") %>
        prohibited this Customer from being saved:
      </h3>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>