<h3> Listing Customers </h3>

<table>
  <tr>
    <th> Name </th>
    <th> Email </th>
    <th colspan= "3"></th>
  </tr>

  <% @customer.each do |customer| %>
    <tr>
      <td> <%= customer.name %> </td>
      <td> <%= customer.email %> </td>
      <td> <%= link_to 'Show', customer_path(customer) %> </td>
      <td> <%= link_to 'Edit', edit_customer_path(customer) %> </td>
      <td> <%= link_to 'Destroy', customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'New Customer', new_customer_path %>


