<p>
  <strong> Name: </strong>
  <%= @customer.name %>
</p>

<p>
  <strong> Email: </strong>
  <%= @customer.email %>
</p>

<h4> Orders </h4>
<%= render @customer.orders %>

<h4> Add an Order: </h4>
<%= render 'orders/form' %>

<%= link_to 'Edit', edit_customer_path(@customer) %>
<%= link_to 'Back', customers_path %>