<%= form_with(model: [@customer, @customer.orders.build], local: true) do |form| %>
  <p>
    <%= form.label :order %><br>
    <%= form.text_field :order %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>