<p>
  <strong> Order: </strong>
  <%= order.order %>
</p>

<p>
  <strong> Description: </strong>
  <%= order.description %>
</p>

<p>
  <%= link_to 'Destroy Order', [order.customer, order], method: :delete, data: { confirm: 'Are you sure?'} %>
</p>